// Specific CSS for your home-page
body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3A8EA9;
}

.owner-image {
height: 350px;
width:150px;
box-shadow:1px 1px 5px #EEE3CB ;


}

.text {
align-items: center; /* Alignement horizontal au centre */
margin-left: 5px;
font-family:Arial, Helvetica, sans-serif;

}


.propos {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 200;
color: white;
}
.card {
  border-radius: 5px;
  display:flex;
  align-items: center;
  flex-direction: row;
  padding:8px;
  margin: 15px;
  justify-content: flex-start;
  background-color: #9BABB8;
  border: 1px solid #EEE3CB ;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

// .container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
//   grid-gap: 10px; /* Espacement entre les éléments de la grille */
// }

.item {
background-color: #9BABB8;
border: 1px solid #EEE3CB;
}

// HOME PAGE SUITE

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-link {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3A8EA9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0); color: white;
}

// FOOTER
footer{
  background-color: #333;
  padding: 25px 0 40px;
}
footer span{
  color: #25546f;
  font-size: 25px;
  line-height: 35px;
  // padding: 0 30px;
}
footer span:hover{
  font-size: 33px;
  color: #EEE3CB;
}
footer h5{
  color: white;
  font-weight: normal;
}

// BOUTON

.bouton-destroy {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #c32121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0); color: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top {
  height: 80px;
  width: 80px;
  background: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 60px;
  bottom: 60px;
  border: 1px solid #EEE3CB;
}

.scroll-top span {
  font-size: 50px;
}
.scroll-top span:hover {
  font-size: 60px;
}
