<footer class="text-center">

  <h5 class="mt-4">© LEBONPIGEON.COM</h5>
  <div class="footer-links">
    <a href="#" class="px-2"><span><i class="fab fa-github"></i></span></a>
    <a href="#" class="px-2"><span><i class="fab fa-instagram"></i></span></a>
    <a href="#" class="px-2"><span><i class="fab fa-facebook"></i></span></a>
    <a href="#" class="px-2"><span><i class="fab fa-twitter"></i></span></a>
    <a href="#" class="px-2"><span><i class="fab fa-linkedin"></i></span></a>
  </div>
</footer>

