
<div class="banner border-bottom border-white" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7682434/pexels-photo-7682434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
<div class="container">
<h1>Le Bon Pigeon<br> La location ULTIME !</h1>

<div></div>
<br>
<p>Loue le pigeon de t'es rêves ❤️.</p>
<%= link_to "Découvrir nos pigeons", pigeons_path, class: "nav-link mt-4"%>
</div>
</div>

<<<<<<< HEAD
    <h3 class="mt-2 py-5 propos">Qui sommes nous?</h3>
    <div class="card">
      <div> <%= image_tag "test", class: "owner-image"%></div>
      <div class="text">
=======
<h3 class="mt-2 py-5">Qui sommes nous?</h3>
<div class="card">
  <div> <%= image_tag "test", class: "owner-image"%></div>
  <div class="text">
>>>>>>> master

    <p> Christof Van Berendonck, un éleveur de pigeon voyageur passionné, est un véritable maître de son art. Sa vie est intimement liée à ces créatures majestueuses, et son dévouement envers leur élevage et leur entraînement est sans égal.
    Pour Christof, les pigeons voyageurs ne sont pas simplement des animaux, mais plutôt des partenaires et des amis fidèles. Il les considère comme des ambassadeurs de la liberté, capables de relier des personnes et des cultures à travers de vastes territoires</p>

    <p> Né dans une famille d'éleveurs de pigeons, Christof a hérité d'une longue tradition de connaissances et d'expérience. Depuis son plus jeune âge, il a été fasciné par la beauté et l'intelligence des pigeons voyageurs. Il a consacré des années à étudier leur comportement, leur physiologie et leurs capacités de navigation, afin de développer des méthodes d'élevage et de sélection les plus efficaces.</p>
  </div>
</div>
